/.DS_Store
/.ipynb_checkpoints
/envs
/hpc_train_files/input/*
/hpc_train_files/logs/*
/logs
.DS_Store
__pycache__
hpc_train_files/input/.DS_Store
hpc_train_files/.DS_Store
LaTex/.DS_Store
LaTex/bilder/.DS_Store
tensorboard_logs/.DS_Store
tensorboard_logs/base_BS_16_no_add_ons/.DS_Store
tensorboard_logs/base_BS_16_no_add_ons/UNet_BB_densenet121_DIM_(256, 256, 3)_SEMI3D_False_CROPDATA_False_BATCH_16_EPOCHS_50_FOLD_3.h5_15082022-2112_FOLD_3/.DS_Store
