/.DS_Store
/.ipynb_checkpoints
/envs
/hpc_train_files/input/*
/hpc_train_files/logs/*
/logs

model.h5
__pycache__
hpc_train_files/input/.DS_Store
hpc_train_files/.DS_Store
LaTex/.DS_Store
LaTex/bilder/.DS_Store
